{% extends "security/base.html.twig" %}
{% from "security/_macros.html.twig" import render_field_with_errors, render_field, render_field_errors %}

{% block content %}
  <form class="floating-labels" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">

    <h1 class="h3 mb-3 font-weight-normal">{{ _fsdomain('Login') }}</h1>

    {% include "security/_messages.html.twig" %}

    {{ login_user_form.hidden_tag() }}
    {{ render_field_with_errors(login_user_form.email) }}
    {{ render_field_with_errors(login_user_form.password) }}
    {{ render_field_with_errors(login_user_form.remember) }}
    {{ render_field_errors(login_user_form.csrf_token) }}
    {{ render_field(login_user_form.submit) }}

  </form>
  {% include "security/_menu.html.twig" %}


{% endblock %}
