{% extends 'admin/base.html.twig' %}
{% block title %}Acceuil{% endblock %}

{% block content %}
  <div class="jumbotron mt-4">
  	<h1>Admin homepage</h1>
  	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div>
{% endblock %}
